WhatsApp Campaign Automation with Google Sheets.json
{
  "name": "WhatsApp Campaign Automation with Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "6e700722-b7bc-41af-adbd-608526034c4d",
      "name": "Every 10 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "spreadsheetId",
              "value": "1gnngUtNJwo4XaA8dHYtB4wvu3Kqw9tAH7L7Frmv6zH4",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sendersSheet",
              "value": "Senders",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "receiversSheet",
              "value": "Receivers",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "logsSheet",
              "value": "MessageLogs",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fb2213e6-f3e8-4e2a-896a-530262c998c5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.receiversSheet }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "155c3d4f-7904-4514-81a3-643d995ce069",
      "name": "Get Pending Receiver",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SwvGsDoToA5AIaYq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbff9b57-8ca8-47e7-9caf-60f45accd4db",
      "name": "Check If Receiver Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.sendersSheet }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "active"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "fd854743-871a-4999-a53e-a6eef71c0744",
      "name": "Get Active Sender",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SwvGsDoToA5AIaYq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7067a3d5-bf2f-4064-abe6-4d0bdf9b8407",
      "name": "Check If Sender Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "to",
              "value": "={{ $('Get Pending Receiver').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "={{ $('Get Pending Receiver').first().json.message }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "from",
              "value": "={{ $('Get Active Sender').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "receiver_id",
              "value": "={{ $('Get Pending Receiver').first().json.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "sender_id",
              "value": "={{ $('Get Active Sender').first().json.id }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "receiver_row_number",
              "value": "={{ $('Get Pending Receiver').first().json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f465d50c-bb3a-497e-971e-979ef3f66f81",
      "name": "Prepare Message Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"={{ $json.to }}\",\n  \"from\": \"={{ $json.from }}\",\n  \"message\": \"={{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "c001dc1b-1f9c-4972-8d76-4ec82944eccf",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "receiver_id",
              "value": "={{ $('Prepare Message Payload').first().json.receiver_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sender_id",
              "value": "={{ $('Prepare Message Payload').first().json.sender_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "response",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1c3d3b42-4a55-4de7-b188-fb227ec8f39f",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.logsSheet }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "receiver_id": "={{ $json.receiver_id }}",
            "sender_id": "={{ $json.sender_id }}",
            "provider_response": "={{ $json.response }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receiver_id",
              "displayName": "receiver_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_response",
              "displayName": "provider_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c8ac6a1e-4b74-4757-ba9a-56ad69bd1e5d",
      "name": "Log to MessageLogs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SwvGsDoToA5AIaYq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "attempts",
              "value": "={{ ($('Get Pending Receiver').first().json.attempts || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "last_attempt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "row_number",
              "value": "={{ $('Prepare Message Payload').first().json.receiver_row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "7ca15e5c-1cbd-4696-803f-ca6a066d4280",
      "name": "Prepare Receiver Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.receiversSheet }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "attempts": "={{ $json.attempts }}",
            "last_attempt": "={{ $json.last_attempt }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_attempt",
              "displayName": "last_attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "560eb6c5-6963-439c-9f4f-8f579a5e7688",
      "name": "Update Receiver Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SwvGsDoToA5AIaYq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d7aaa7aa-1447-4bf2-b623-32a335c9d978",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2784,
        128
      ]
    },
    {
      "parameters": {},
      "id": "a8093982-6011-4a1f-8402-300e3f361f53",
      "name": "No Receiver Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        416
      ]
    },
    {
      "parameters": {},
      "id": "33fc9950-370b-472f-8803-ab881bc27629",
      "name": "No Sender Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 10 Seconds": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Pending Receiver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Receiver": {
      "main": [
        [
          {
            "node": "Check If Receiver Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Receiver Found": {
      "main": [
        [
          {
            "node": "Get Active Sender",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Receiver Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sender": {
      "main": [
        [
          {
            "node": "Check If Sender Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Sender Found": {
      "main": [
        [
          {
            "node": "Prepare Message Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Sender Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Payload": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Entry": {
      "main": [
        [
          {
            "node": "Log to MessageLogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to MessageLogs": {
      "main": [
        [
          {
            "node": "Prepare Receiver Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Receiver Update": {
      "main": [
        [
          {
            "node": "Update Receiver Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Receiver Status": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "694785c2-6ea7-4a3d-af7b-c90287c454d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50f5fbb4318065cd405f14df9eb4af0d283ffd808b5818dbbdf6a3d684143ada"
  },
  "id": "FIbQvZBuVid64UbU",
  "tags": []
}